global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'aiops-lab'
    environment: 'learning'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
        labels:
          service: 'prometheus'
          team: 'platform'
  - job_name: 'grafana'
    static_configs:
      - targets: ['grafana:3000']
        labels:
          service: 'grafana'
          team: 'platform'
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node_exporter:9100']
        labels:
          service: 'node_exporter'
          team: 'platform'